body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;

}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.btn-index-publish{
    float: right;
    margin-top: 15px;
}

.picture{
    width: 54px;
    height: 61px;
}

.properties{
    font-size: 18px;
    font-weight: normal;
    color: #999;
}

.properties-1{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.tour{
    margin-top: 141px;
}

.profile-section{
    margin-top: 35px;
}

.error-style{
    margin:126px;
    margin-left:856px;
}

.repleyer-name{
    padding: 15px 0px;
}

.reply-border{
    margin: 14px 0px;
}

.comment-btn{
    float: right;
    margin-bottom: 12px;
}

.comment-icon{
    cursor: pointer;
    color: #999
}

.active{
    color: #2aabd2;
}

.comment-icon:hover{
    color: #2aabd2;
}

.comment-style{
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

#rule{
    display: none;
}

.second-comment{
    border: 1px solid #ffc6ab;
    margin: 5px;
}

